<h1 align="center">Computational Methods in Environmental Engineering</h1>
<h2 align="center">Lecture #3</h2>
<h3 align="center">14 Feb 2023</h3>

## Lists

Can have elements of different types

In [1]:
a = [2, 3, 'foo', 4.5]
a

[2, 3, 'foo', 4.5]

Operate on elements

In [2]:
a[1] = 5.6
a

[2, 5.6, 'foo', 4.5]

Modifying the list

In [3]:
a.append('bar')
a

[2, 5.6, 'foo', 4.5, 'bar']

In [4]:
a.pop(2)
a

[2, 5.6, 4.5, 'bar']

We can combine lists a couple of ways

In [5]:
x = [1, 2, 3]
x + [4, 5]

[1, 2, 3, 4, 5]

In [6]:
x * 2

[1, 2, 3, 1, 2, 3]

## Slicing

Selecting sections of most sequence types

In [7]:
seq = [7, 2, 3, 7, 5, 6, 0, 1]
seq[1:5]

[2, 3, 7, 5]

Start and stop index

In [8]:
seq[:3]

[7, 2, 3]

Negative stride

In [9]:
seq[3::-1]

[7, 3, 2, 7]

Negative index

In [10]:
seq[-3]

6

## üñù Hands-on exercise

From the `seq` list, find three ways to extract a [7, 5, 6] list

In [11]:
seq

[7, 2, 3, 7, 5, 6, 0, 1]

In [19]:
seq[3:7]

[7, 5, 6, 0]

In [13]:
seq[-5:-2]

[7, 5, 6]

In [14]:
[seq[3], seq[4], seq[5]]

[7, 5, 6]

In [23]:
seq[5:2:-1][:1]

[6]

## Control flow

-   `for` loops
-   `while` loops
-   `if, elif, else`
-   `break` statement
-   `pass` operator

### For loops

Iterate through a collection

In [1]:
for val in [1, 2, 3]:
    print(val)

Now let's use the `range` operator instead of a list

In [28]:
range(1, 4)

range(1, 4)

In [24]:
for val in range(1, 4):
    print(val)

1
2
3

### If, elif, else

In [1]:
x = -1
if x < 0:
    print('Negative')

In [1]:
x = -1
if x > 0:
    print('Positive')
else:
    print('Otherwise')

In [1]:
x = 0
if x < 0:
    print('Negative')
elif x > 0:
    print('Positive')
else:
    print('Zero')

### Break, continue and pass

-   `break` statement is used to terminate loop
-   Only terminates the inner loop!
-   `continue` same as break but continues the loop
-   `pass` is the no-operation statement

In [1]:
seq = [1, 2, 3, 4, 5, None, 6, None, 7]
total_until_5 = 0
for val in seq:
    if val == 5:
        break
    total_until_5 += val
total_until_5

In [1]:
total = 0
for val in seq:
    if val is None:
        continue
    total += val
total

In [1]:
x = -1
if x < 0:
    print('negative')
elif x == 0:
    pass
else:
    print('positive')

### While loops

-   `while` condition then do
-   Usually needs a `break` statement to avoid *infinite loops*

In [1]:
x = 256
total = 0
while x > 0:
    total += x
    x = x // 2
    if total > 500:
        break
total

### For vs While loops

| For loop|While loop|
|---|---|
| number of iterations <b>known</b>|<b>unbounded</b> number of iterations|
| can end early via <code>break</code>|can end early via <code>break</code>|
| uses an iterable|can use counter|
| can convert to while loop|difficult to convert to for loop|

## üñù Hands-on exercises

Find the sum of the following list

In [1]:
import random
x = random.sample(range(100), 10)
x

[41, 21, 53, 3, 16, 59, 15, 72, 78, 82]

In [7]:
sum_val = 0
for val in x:
    sum_val += val
sum_val

440

In [3]:
sum(x)

440

Find the maximum number of that list

In [8]:
max_val = x[0]
for val in x[1:]:
    if val > max_val:
        max_val = val
max_val

82

Create a list with the numbers between 1000 and 2200 that are divisible with 7 or 5

In [25]:
[v for v in range(1000, 2201) if v % 7 ==0 or v % 5 == 0]

[1000,
 1001,
 1005,
 1008,
 1010,
 1015,
 1020,
 1022,
 1025,
 1029,
 1030,
 1035,
 1036,
 1040,
 1043,
 1045,
 1050,
 1055,
 1057,
 1060,
 1064,
 1065,
 1070,
 1071,
 1075,
 1078,
 1080,
 1085,
 1090,
 1092,
 1095,
 1099,
 1100,
 1105,
 1106,
 1110,
 1113,
 1115,
 1120,
 1125,
 1127,
 1130,
 1134,
 1135,
 1140,
 1141,
 1145,
 1148,
 1150,
 1155,
 1160,
 1162,
 1165,
 1169,
 1170,
 1175,
 1176,
 1180,
 1183,
 1185,
 1190,
 1195,
 1197,
 1200,
 1204,
 1205,
 1210,
 1211,
 1215,
 1218,
 1220,
 1225,
 1230,
 1232,
 1235,
 1239,
 1240,
 1245,
 1246,
 1250,
 1253,
 1255,
 1260,
 1265,
 1267,
 1270,
 1274,
 1275,
 1280,
 1281,
 1285,
 1288,
 1290,
 1295,
 1300,
 1302,
 1305,
 1309,
 1310,
 1315,
 1316,
 1320,
 1323,
 1325,
 1330,
 1335,
 1337,
 1340,
 1344,
 1345,
 1350,
 1351,
 1355,
 1358,
 1360,
 1365,
 1370,
 1372,
 1375,
 1379,
 1380,
 1385,
 1386,
 1390,
 1393,
 1395,
 1400,
 1405,
 1407,
 1410,
 1414,
 1415,
 1420,
 1421,
 1425,
 1428,
 1430,
 1435,
 1440,
 1442,
 1445,
 1449,
 1450,
 1455,
 1456,
 1460,
 1463,
 1465,
 1470,
 1475,
 1477,
 1480,
 1484,
 1485,
 1490,
 1491,
 1495,
 1498,
 1500,
 1505,
 1510,
 1512,
 1515,
 1519,
 1520,
 1525,
 1526,
 1530,
 1533,
 1535,
 1540,
 1545,
 1547,
 1550,
 1554,
 1555,
 1560,
 1561,
 1565,
 1568,
 1570,
 1575,
 1580,
 1582,
 1585,
 1589,
 1590,
 1595,
 1596,
 1600,
 1603,
 1605,
 1610,
 1615,
 1617,
 1620,
 1624,
 1625,
 1630,
 1631,
 1635,
 1638,
 1640,
 1645,
 1650,
 1652,
 1655,
 1659,
 1660,
 1665,
 1666,
 1670,
 1673,
 1675,
 1680,
 1685,
 1687,
 1690,
 1694,
 1695,
 1700,
 1701,
 1705,
 1708,
 1710,
 1715,
 1720,
 1722,
 1725,
 1729,
 1730,
 1735,
 1736,
 1740,
 1743,
 1745,
 1750,
 1755,
 1757,
 1760,
 1764,
 1765,
 1770,
 1771,
 1775,
 1778,
 1780,
 1785,
 1790,
 1792,
 1795,
 1799,
 1800,
 1805,
 1806,
 1810,
 1813,
 1815,
 1820,
 1825,
 1827,
 1830,
 1834,
 1835,
 1840,
 1841,
 1845,
 1848,
 1850,
 1855,
 1860,
 1862,
 1865,
 1869,
 1870,
 1875,
 1876,
 1880,
 1883,
 1885,
 1890,
 1895,
 1897,
 1900,
 1904,
 1905,
 1910,
 1911,
 1915,
 1918,
 1920,
 1925,
 1930,
 1932,
 1935,
 1939,
 1940,
 1945,
 1946,
 1950,
 1953,
 1955,
 1960,
 1965,
 1967,
 1970,
 1974,
 1975,
 1980,
 1981,
 1985,
 1988,
 1990,
 1995,
 2000,
 2002,
 2005,
 2009,
 2010,
 2015,
 2016,
 2020,
 2023,
 2025,
 2030,
 2035,
 2037,
 2040,
 2044,
 2045,
 2050,
 2051,
 2055,
 2058,
 2060,
 2065,
 2070,
 2072,
 2075,
 2079,
 2080,
 2085,
 2086,
 2090,
 2093,
 2095,
 2100,
 2105,
 2107,
 2110,
 2114,
 2115,
 2120,
 2121,
 2125,
 2128,
 2130,
 2135,
 2140,
 2142,
 2145,
 2149,
 2150,
 2155,
 2156,
 2160,
 2163,
 2165,
 2170,
 2175,
 2177,
 2180,
 2184,
 2185,
 2190,
 2191,
 2195,
 2198,
 2200]

In [24]:
div_by_7_or_5 = []
for v in range(1000, 2201):
    if v % 7 == 0 or v % 5 == 0:
        div_by_7_or_5.append(v)
div_by_7_or_5

[1000,
 1001,
 1005,
 1008,
 1010,
 1015,
 1020,
 1022,
 1025,
 1029,
 1030,
 1035,
 1036,
 1040,
 1043,
 1045,
 1050,
 1055,
 1057,
 1060,
 1064,
 1065,
 1070,
 1071,
 1075,
 1078,
 1080,
 1085,
 1090,
 1092,
 1095,
 1099,
 1100,
 1105,
 1106,
 1110,
 1113,
 1115,
 1120,
 1125,
 1127,
 1130,
 1134,
 1135,
 1140,
 1141,
 1145,
 1148,
 1150,
 1155,
 1160,
 1162,
 1165,
 1169,
 1170,
 1175,
 1176,
 1180,
 1183,
 1185,
 1190,
 1195,
 1197,
 1200,
 1204,
 1205,
 1210,
 1211,
 1215,
 1218,
 1220,
 1225,
 1230,
 1232,
 1235,
 1239,
 1240,
 1245,
 1246,
 1250,
 1253,
 1255,
 1260,
 1265,
 1267,
 1270,
 1274,
 1275,
 1280,
 1281,
 1285,
 1288,
 1290,
 1295,
 1300,
 1302,
 1305,
 1309,
 1310,
 1315,
 1316,
 1320,
 1323,
 1325,
 1330,
 1335,
 1337,
 1340,
 1344,
 1345,
 1350,
 1351,
 1355,
 1358,
 1360,
 1365,
 1370,
 1372,
 1375,
 1379,
 1380,
 1385,
 1386,
 1390,
 1393,
 1395,
 1400,
 1405,
 1407,
 1410,
 1414,
 1415,
 1420,
 1421,
 1425,
 1428,
 1430,
 1435,
 1440,
 1442,
 1445,
 1449,
 1450,
 1455,
 1456,
 1460,
 1463,
 1465,
 1470,
 1475,
 1477,
 1480,
 1484,
 1485,
 1490,
 1491,
 1495,
 1498,
 1500,
 1505,
 1510,
 1512,
 1515,
 1519,
 1520,
 1525,
 1526,
 1530,
 1533,
 1535,
 1540,
 1545,
 1547,
 1550,
 1554,
 1555,
 1560,
 1561,
 1565,
 1568,
 1570,
 1575,
 1580,
 1582,
 1585,
 1589,
 1590,
 1595,
 1596,
 1600,
 1603,
 1605,
 1610,
 1615,
 1617,
 1620,
 1624,
 1625,
 1630,
 1631,
 1635,
 1638,
 1640,
 1645,
 1650,
 1652,
 1655,
 1659,
 1660,
 1665,
 1666,
 1670,
 1673,
 1675,
 1680,
 1685,
 1687,
 1690,
 1694,
 1695,
 1700,
 1701,
 1705,
 1708,
 1710,
 1715,
 1720,
 1722,
 1725,
 1729,
 1730,
 1735,
 1736,
 1740,
 1743,
 1745,
 1750,
 1755,
 1757,
 1760,
 1764,
 1765,
 1770,
 1771,
 1775,
 1778,
 1780,
 1785,
 1790,
 1792,
 1795,
 1799,
 1800,
 1805,
 1806,
 1810,
 1813,
 1815,
 1820,
 1825,
 1827,
 1830,
 1834,
 1835,
 1840,
 1841,
 1845,
 1848,
 1850,
 1855,
 1860,
 1862,
 1865,
 1869,
 1870,
 1875,
 1876,
 1880,
 1883,
 1885,
 1890,
 1895,
 1897,
 1900,
 1904,
 1905,
 1910,
 1911,
 1915,
 1918,
 1920,
 1925,
 1930,
 1932,
 1935,
 1939,
 1940,
 1945,
 1946,
 1950,
 1953,
 1955,
 1960,
 1965,
 1967,
 1970,
 1974,
 1975,
 1980,
 1981,
 1985,
 1988,
 1990,
 1995,
 2000,
 2002,
 2005,
 2009,
 2010,
 2015,
 2016,
 2020,
 2023,
 2025,
 2030,
 2035,
 2037,
 2040,
 2044,
 2045,
 2050,
 2051,
 2055,
 2058,
 2060,
 2065,
 2070,
 2072,
 2075,
 2079,
 2080,
 2085,
 2086,
 2090,
 2093,
 2095,
 2100,
 2105,
 2107,
 2110,
 2114,
 2115,
 2120,
 2121,
 2125,
 2128,
 2130,
 2135,
 2140,
 2142,
 2145,
 2149,
 2150,
 2155,
 2156,
 2160,
 2163,
 2165,
 2170,
 2175,
 2177,
 2180,
 2184,
 2185,
 2190,
 2191,
 2195,
 2198,
 2200]

Use the `print` command to print the following pattern

    1
    1 2
    1 2 3
    1 2 3 4
    1 2 3 4 5

In [23]:
?print

In [22]:
lst = []
for v in range(1, 6):
    lst.append(str(v))
    print(' '.join(lst))

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

Find the cumulative sums of the random list we generated. For example, if the list was `[1, 2, 3]` the expected answer would be `[1, 3, 6]`.

In [30]:
i=1
x[:i+1]

[41, 21]

In [33]:
[sum(x[:i+1]) for i in range(len(x))]

[41, 62, 115, 118, 134, 193, 208, 280, 358, 440]

In [32]:
csum = []
for i in range(len(x)):
    csum.append(sum(x[:i+1]))
csum

[41, 62, 115, 118, 134, 193, 208, 280, 358, 440]

In [27]:
csum = []
sval = 0
for val in x:
    sval += val
    csum.append(sval)
csum

[41, 62, 115, 118, 134, 193, 208, 280, 358, 440]

Count the number of words with a string length is 2 or more and contain the letter `a`

In [1]:
s = "a word"
len(s)

6

In [2]:
words = ['abc', 'xyz', 'aba', '1221', 'foo', 'onomatopoeia']

In [4]:
counter = 0
for w in words:
    if len(w) >= 2 or w.find('a') >= 0:
        counter += 1
counter

6

In [3]:
len([w for w in words if len(w) >= 2 or w.find('a') >= 0])

6

## Enumerations

What if we want to use both the index and the value of a sequence when we are iterating through it?

In [34]:
i = 0
for val in [1, 2, 3]:
    print(i)
    i += 1

0
1
2

In [49]:
stock_prices = random.sample(range(100), 10)
for i, val in enumerate(stock_prices[2:]):
    print((val + stock_prices[i-2]) / 2)

6.5
16.0
71.5
60.5
41.5
58.5
49.0
31.0

In [40]:
list(enumerate([1, 2, 3]))

[(0, 1), (1, 2), (2, 3)]

In [38]:
for i, val in enumerate([1, 2, 3]):
    print(val)

1
2
3

## üñù Hands-on assignment

A simple flood frequency analysis method involves calculating the return period from annual peak flow using the following formula $$\dfrac{n+1}{m}$$ where $n$ is the number of years, and $m$ is the rank of each flow value in descending order. Build a list of tuples, where each tuple contains the flow value and its rank. *Hint: Is there a sort method for lists?*

In [5]:
flows = [ 3500, 2500, 1000, 1800, 200, 54300, 12000, 21250, 9835, 42600 ]

In [7]:
# sort the flow values so their index becomes their rank
flows.sort()
flows

[200, 1000, 1800, 2500, 3500, 9835, 12000, 21250, 42600, 54300]

In [9]:
# build the list of tuples but use the reverse to get the descending order required
rank = []
for i, val in enumerate(flows[::-1]):
    rank.append((val, i+1))
rank

[(54300, 1),
 (42600, 2),
 (21250, 3),
 (12000, 4),
 (9835, 5),
 (3500, 6),
 (2500, 7),
 (1800, 8),
 (1000, 9),
 (200, 10)]